@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
  --customGreen: #3da229;
  --greyishblack: #222720;
}

/* new */

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  /* background-color: black; */
}



@layer utilities {
  .popup-border {
    padding: 10px;
    width: 90%;

    max-width: 450px;
    background: #222720;
    text-align: center;
    border-radius: 20px;
    position: relative;
  }

  .image-overlay {
    background: linear-gradient(
      101.19deg,
      #000000 -29.77%,
      rgba(0, 0, 0, 0) 98.94%
    );
  }

  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  .popup-border::after,
  .popup-border::before {
    content: "";
    position: absolute;
    height: 101%;
    width: 101%;
    background-image: conic-gradient(
      from var(--angle),
      #ff4545,
      #00ff99,
      #006aff,
      #ff0095,
      #ff4545
    );

    /* 010101 */
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 20px;
    animation: rotate 6s linear infinite, colorChange 6s linear infinite;
  }
  .popup-border::before {
    filter: blur(1.5rem);
    opacity: 0.5;
  }
  @keyframes rotate {
    0% {
      --angle: 0deg;
    }
    50% {
      --angle: 360deg;
    }
    100% {
      --angle: 0deg;
    }
  }
  @keyframes colorChange {
    0%,
    50% {
      background-image: conic-gradient(
        from var(--angle),
        #ff4545,
        #00ff99,
        #006aff,
        #ff0095,
        #ff4545
      );
    }
    50.01%,
    100% {
      background-image: conic-gradient(
        from var(--angle),
        #ff4545,
        #00ff99,
        #010101,
        #010101,
        #010101
      );
    }
  }
  .left-shine {
    content: "";
    width: 55px;
    height: 75px;
    z-index: -100;
    border: 1px solid transparent;
    border-radius: 100%;
    background: #000000;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translate(0, -50%);
    box-shadow: -1px 0 10px rgba(0, 255, 255, 0.3),
      1px 0 10px rgba(255, 0, 255, 0);
    animation: glowing-left 1.5s ease-in-out infinite alternate;
  }

  .right-shine {
    content: "";
    width: 55px;
    height: 75px;
    z-index: -1;
    border: 1px solid transparent;
    border-radius: 100%;
    background: #000000;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(0, -50%);
    box-shadow: -1px 0 10px rgba(0, 255, 255, 0.3),
      1px 0 10px rgba(255, 0, 255, 0);
    animation: glowing-right 1.5s ease-in-out infinite alternate;
  }

  @keyframes glowing-right {
    0% {
      box-shadow: -1px 0 10px rgba(0, 255, 255, 0.7),
        1px 0 10px rgba(255, 0, 255, 0.7);
      height: 75px;
      width: 75px;
    }
    50% {
      box-shadow: -5px 0 15px rgba(191, 255, 0, 0.7),
        5px 0 15px rgba(255, 0, 0, 0.7);
    }
    100% {
      box-shadow: 15px 0 55px rgb(0, 123, 255), 5px 0 15px rgb(43, 255, 0);
      height: 70%;
      width: 30%;
    }
  }
  @keyframes glowing-left {
    0% {
      box-shadow: -1px 0 10px rgba(0, 255, 255, 0.7),
        1px 0 10px rgba(255, 0, 255, 0.7);
      height: 75px;
      width: 75px;
    }
    50% {
      box-shadow: -5px 0 15px rgba(191, 255, 0, 0.7),
        5px 0 15px rgba(255, 0, 0, 0.7);
    }
    100% {
      box-shadow: -15px 0 55px rgb(0, 123, 255), 5px 0 15px rgb(43, 0, 255);
      height: 70%;
      width: 30%;
    }
  }

  .contact_us:hover {
    animation: contactus 1s linear infinite;
  }

  @keyframes contactus {
    0% {
      border-color: rgba(255, 0, 0, 0.8); /* Red light */
      box-shadow: 0 0 5px 10px rgba(255, 0, 0, 1),
        0 0 5px 10px rgba(255, 0, 0, 0.8);
    }
    25% {
      border-color: rgba(0, 255, 0, 0.8); /* Green light */
      box-shadow: 0 0 5px 10px rgba(0, 255, 0, 1),
        0 0 5px 10px rgba(0, 255, 0, 0.8);
    }
    50% {
      border-color: rgba(0, 0, 255, 0.8); /* Blue light */
      box-shadow: 0 0 5px 10px rgba(0, 0, 255, 1),
        0 0 5px 10px rgba(0, 0, 255, 0.8);
    }
    75% {
      border-color: rgba(255, 255, 0, 0.8); /* Yellow light */
      box-shadow: 0 0 5px 10px rgba(255, 255, 0, 1),
        0 0 5px 10px rgba(255, 255, 0, 0.8);
    }
    100% {
      border-color: rgba(255, 0, 0, 0.8); /* Back to Red */
      box-shadow: 0 0 5px 10px rgba(255, 0, 0, 1),
        0 0 5px 10px rgba(255, 0, 0, 0.8);
    }
  }
}

.globalColorBG {
  background-color: rgba(0, 0, 0, 0.4);
}

.buttogGradientBG{
  background: radial-gradient(50% 50% at 50% 50%, #3DA229 37.14%, #59C245 100%),
linear-gradient(180deg, #3DA229 0%, rgba(23, 105, 99, 0) 100%);

}

.globalColor{
  color: rgba(61, 162, 41, 1);

}

.bGglobalColor{
  background-color: rgba(61, 162, 41, 1);

}

.blueColor{
  color: rgba(183, 187, 199, 1);
}

.contactBgButton{
  background: radial-gradient(50% 50% at 50% 50%, #050E03 37.14%, #284123 100%),
linear-gradient(180deg, #000000 0%, rgba(23, 105, 99, 0) 100%);

}

.bg-custom-gradient {
  background: radial-gradient(circle at center, #064e3b, #047857, rgba(0, 0, 0, 0.3));
}